Introduction to Deferred References
-----------------------------------

>   We highly recommend that you invest some time to work through the content
>   and examples in this document.  This investment will be invaluable in
>   helping you create great concurrent and distributed tests!


-------------------------------------------------------------------------------

<h4>The Twenty Second Synopsis</h4>

**What?**
Deferred References are a mechanism to represent resources that have yet to
become available.

**When?**
Use Deferred References when you feel you need to use `Thread.sleep(...)` to
wait for resources to become available.   A Deferred Reference can be used
to represent the resource that you want to wait (sleep) upon.

**Why?**
Using `Thread.sleep(...)`, especially in application tests, can introduce all
kinds of concurrency related issues.  It's generally best to avoid them.

**How?**
Read this document to find out.

**Where?**
Deferred References are defined in the following Maven module and Java package:

*   Maven Group Id: `${project.groupId}`
*   Maven Artifact Id: `oracle-tools-core`
*   Maven Version: `${project.version}`
*   Java Package: `com.oracle.bedrock.deferred`


-------------------------------------------------------------------------------

<h4>Overview</h4>

A *Deferred Reference*, commonly abbreviated to simply a *Deferred*, is
an object that represents a reference another strongly-typed object, that
of which may not be available at the time the Deferred was created or may
have varying availability characteristics during its' lifetime.

Application developers typically use Deferreds as a means to separate the
concepts of a). representing resources with questionable availability, and
b). the mechanisms for ensuring that the underlying resources are available
when required.

>   In programmatic terms, *Deferreds* are represented by the
>   `com.oracle.bedrock.deferred.Deferred` interface, as defined in the
>   `oracle-tools-core` module.

The following statement defines a Deferred for an MBean (of type T) that of
which may or may not have been registered by an application (because MBean
Server setup and MBean registrations typically occur asynchronously).  This
kind of statement would commonly be found in an application or a test, that
makes use of an MBean defined by a remote application.

    Deferred<T> deferredMBean = application.getDeferredMBeanProxy(name, T.class);

After this statement an application developer may attempt to acquire the MBean
using the following:

    T t = deferredMBean.get();

Should the underlying deferred resource, an MBean (of type T) not be available,
a `TemporarilyUnavailableException` will be thrown.   Should it be determined
that the MBean will never become available, a `PermanentlyUnavailableException`
would be thrown.

>   The mechanism to ensure that Deferred resources are available when requested,
>   instead of handling exceptions and implementing retry semantics yourself, is
>   covered shortly.

<h4>Deferreds v's Futures</h4>

While Deferreds may seem similar to Java Futures, Deferreds are not Futures.

Futures are typically used to provide a mechanism to:

a). represent and acquire the "future" result of some computation that has
been submitted or is occurring asynchronously, and

b). cancel the computation callable before or during asynchronous computation.

From an application developer perspective, calling either the `Future.get()`
or `Future.get(long, java.util.concurrent.TimeUnit)` always blocks the calling
thread, at least for some period of time, to wait for a result.  More
specifically, how a calling thread waits for a result of a Future is
"built into" the Future implementation itself, with provides little option for
an application developer to control the underlying semantics, especially
retry, failure and eventually giving up.

Conversely calling Deferred.get() never blocks the calling thread, unless of
course the underlying Deferred implementation provides this facility.

This difference is very significant.  Where as Futures typically have hard-coded
blocking retry semantics, Deferreds allow numerous mechanisms for lazily
evaluation to be provided, extended or overridden.

Furthermore, in more advanced use-cases Deferreds may be used as part of
requests to create other Deferreds, thus forming nested chains of resources that
of which are dependent upon each other, without forcing developers to write
retry logic between each resource.  This allows traditionally complex
interactions between asynchronous resources and conditions to be elegantly
specified while at the same time separating how retry may occur.

<h4>Deferreds v's Builders and Factories</h4>

While Deferreds may seem similar to Builders or Factories, they are neither
Builders or Factories.  Where as each Deferred is designed to encapsulate how
to acquire a single well-known identifiable object, Builders and Factories
are typically used to construct/realize/build a number of objects.

For example, a Deferred may be used to represent a connection to a
specific server, that of which has yet to start, where as a connection
builder/factory would instead be used to create numerous connections to any
number of servers.

As there are many types of Deferreds, each with their own strategies for
dealing with object acquisition, recovering from acquisition failure and
handling certainly types of objects, consideration should be made as
to the choice of Deferred types to ensure that correct semantics are achieved.

<h4>Ensuring Deferred Resources are Available</h4>

Eventually all applications will need the underlying resource that a Deferred
represents.   While it's possible for application developers to implement
mechanisms to ensure that a resource is available, this is not encouraged.
Instead a special type of Deferred implementation, called an *Ensured* should
be used.

An *Ensured* Reference is a *Deferred* Reference implementation attempts to
guarantee, through numerous strategies, that an underlying resource is
available when requested by an application and if not a
`PermanentlyUnavailableException` is thrown.

Naturally they are used in the same manner that Deferreds are used - they
implement the `com.oracle.bedrock.deferred.Deferred` interface - with the
exception that when calling `Ensured.get()`, the calling Thread may block.

>   In this way Ensureds are like Futures (except that there's no concept
>   of `Future.cancel()`).

The simplest way to ensure Deferreds is to use the static helper methods
provided by the `com.oracle.bedrock.deferred.DeferredHelper` class, in particular
the `ensure` methods.

**Example: Ensuring a Deferred Resource**

    //from module oracle-tools-core
    static import com.oracle.bedrock.deferred.DeferredHelper.*;

    ...

    // acquire a Deferred representation of the MBean
    Deferred<T> deferredMBean = application.getDeferredMBeanProxy(name, T.class);

    // acquire a Deferred that is ensured to return the MBean when calling "get"
    Deferred<T> ensuredMBean = ensure(deferredMBean);

    // this will wait for the MBean to become registered or
    // throw a PermanentlyUnavailableException.
    T t = ensuredMBean.get();

While it might seem strange to separate the concept of defining the resource
and that of attempting to guarantee the resource is available, doing so
significantly increases the expressiveness of the API.

>   The maximum amount of time an Ensured implementation will wait before an
>   `PermanentlyUnavailableException` is thrown is configurable.  By default this
>   is 60 seconds.  Likewise the strategy used to determine when an underlying
>   resource is available, is also configurable - though somewhat dependent
>   on the type of Deferred being ensured.  For more information refer to the
>   Java Documentation for the `com.oracle.bedrock.deferred.Ensured` and
>   `com.oracle.bedrock.deferred.DeferredHelper` classes.

<h4>Deferred Method Invocation</h4>

Say that our MBean defines a method called `getCount` that returns an `int`.
Normally and somewhat naturally, it's reasonable to expect that we can't make
calls to this method unless the underlying MBean is actually available.   However
using Deferreds (and some additional helpers), we don't have this constraint as
we're free to call methods on Deferred references, to produce Deferred results,
even when the underlying resources are unavailable!

**Example: Deferred Method Invocation**

    //from module oracle-tools-core
    static import com.oracle.bedrock.deferred.DeferredHelper.*;

    ...

    // acquire a Deferred representation of the MBean
    Deferred<T> deferredMBean = application.getDeferredMBeanProxy(name, T.class);

    // create a Deferred that represents calling "getCount" on the deferredMBean
    Deferred<Integer> deferredCount = eventually(invoking(deferredMBean).getCount());

Here we use the combination of the `eventually` and `invoking` helpers to capture
the call sequence to `getCount`, the result of which is a Deferred that represents
the method call on the Deferred MBean.

Now when we call `get` on our "deferredCount" it will attempt to resolve the
underlying MBean, and if available, call `getCount` for us!   Importantly, note that
there's **no requirement** to implement logic to "wait" or "ensure" that the MBean
is available.

>   **How does this work?** The `invoking` helper creates a dynamic-proxy of the
>   class of the Deferred (as the Deferred may not be available).  The subsequent
>   method interactions with proxy are then recorded - the methods aren't actually
>   called.  Afterwards the `eventually` helper converts those method interfactions
>   into a new Deferred, that of which represents the said calls onto the underlying
>   Deferred.  When `get` is called on the Deferred returned by the `eventually`
>   helper, the Deferred will attempt perform the actual method call on the
>   original Deferred resource.

<h4>Deferreds and Testing</h4>

One of the major uses of Deferreds is to simplify writing assertions in concurrent
and distributed computing environments, especially against resources that may or
may not be available.

Say we may want to test that the value of an MBean in a remote process, that of which
is being updated asynchronously, reaches a desired value in a certain amount of time.
We can represent this condition through the use of Deferreds, and especially,
DeferredMatches.

**Example: Deferred Matching (with Hamcrest)**

>   The following example makes use of Hamcrest Matchers to represent matching
>   conditions.   More information about Hamcrest Matchers can be found here:
>   [The Hamcrest Tutorial][HAMCREST].

    //from module oracle-tools-core
    static import com.oracle.bedrock.deferred.DeferredHelper.*;

    //from module oracle-tools-testing-support
    import com.oracle.bedrock.deferred.DeferredMatch;

    // acquire a Deferred representation of the MBean
    Deferred<T> deferredMBean = application.getDeferredMBeanProxy(name, T.class);

    // create a Deferred that represents calling getCount on the deferredMBean
    Deferred<Integer> deferredCount = eventually(invoking(deferredMBean).getCount());

    // create a DeferredMatch that represents the count reaching 3
    Deferred<Boolean> deferredMatch = new DeferredMatch(deferredCount, is(3));

Of course, this does not perform the assert operation for you.  It simply creates a
Deferred to represent the match that should occur at some point!   To actually
assert that the condition holds, we need to use the enhanced "assertThat" method
from the `com.oracle.bedrock.deferred.Eventually` class.

**Example: Eventually.assertThat**

    //from module oracle-tools-core
    static import com.oracle.bedrock.deferred.DeferredHelper.*;

    //from module oracle-tools-testing-support
    static import com.oracle.bedrock.deferred.Eventually.*;

    // acquire a Deferred representation of the MBean
    Deferred<T> deferredMBean = application.getDeferredMBeanProxy(name, T.class);

    // assert that the MBean.getCount() method eventually returns 3
    Eventually.assertThat(invoking(deferredMBean).getCount(), is(3));

While in the previous example we made use of the DeferredMatch class, when using
`Eventually.assertThat`, this is not required.   We can simply provide a Deferred
and a Hamcrest Matcher.   The `assertThat` method implementation does the rest,
including ensuring that the Deferred is available and that the value produced
matches the condition specified.

This approach is not only simple, it's powerful and expressive.   There's no
requirement on part of the developer to ensure each of the possible resources are
available, especially when there are nested dependencies in this case.  Furthermore
there's no requirement to "retry" should failures occur.

Additionally there are no `Thread.sleep(...)` calls, which means that almost all
time-sensitive issues are eliminated from tests, thus increasing the overall
reliablility and reducing the timing-related issues commonly found when
implementing long-running, highly-concurrent distributed tests.

[HAMCREST]: https://code.google.com/p/hamcrest/wiki/Tutorial "The Hamcrest Tutorial"



