Building Instructions
---------------------

As the Oracle Tools use [Apache Maven](http://maven.apache.org/)
(Version 3.0.4) as a build technology for the most part building from source
tree is as simple as:

    $ mvn clean install

However the fact that the Oracle Tools (for Coherence) depends on a commercial product,
namely [Oracle Coherence](http://www.oracle.com/technology/products/coherence/index.html) 
that of which is not available in a public Maven Repository, means that your 
first build is highly likely to fail because of a missing dependency on 
`coherence.jar`.

Should this problem occur you will need to manually install a suitable 
`coherence.jar` into your local repository or your organization's repository 
manager.

To install `coherence.jar` into a local repository change to `$COHERENCE_HOME/lib` 
directory and run the following command:

    $ mvn install:install-file  \
          -DgroupId=com.oracle.coherence  \
          -DartifactId=coherence  \
          -Dversion=3.7.1.13  \
          -Dfile=coherence.jar  \
          -Dpackaging=jar \
          -DgeneratePom=true

**Note:** The `groupId`, `artifactId` and `version` are critically important. 

Of course the above assumes that you are installing the Coherence 3.7.1.13 `jar`
file. If you want to install one of the more recent releases, change the version 
number in the command above accordingly.

Once the `coherence.jar` is properly installed into your Maven repository, 
you should be able to build the Oracle Tools.