Source Code
-----------

The Source Code for the Oracle Tools is hosted by github.com.
It can be found here: 
[https://github.com/coherence-community/oracle-tools](https://github.com/coherence-community/oracle-tools)

<h4>Important:</h4>

1.  Source Code and Documentation is licensed under [CDDL-1.0](license.html).

2.  **Read-Only Access** is provided to the public.

3.  **Pull Requests** are **only** accepted by [contributors](contributions.html).

4.  Only submissions by official [contributors](contributions.html) are accepted.
