The Testing Support Module
--------------------------

<h4>Overview</h4>


<h4>Distribution</h4>

The Oracle Tools Testing Support Module is distributed as a single jar
called: `oracle-tools-testing-support-${project.version}.jar`

