The Runtime Module for Oracle Tools
-----------------------------------

<h4>Overview</h4>
The Oracle Tools Runtime module provides a high-level framework that allows
developers to define, create, monitor and manage other applications and
associated processes at runtime.

An introduction to these concepts is covered by the
[Introduction to Application Runtime Management](applications.html).

<h4>Distribution</h4>

The Oracle Tools Runtime module is distributed as a single jar called: `oracle-tools-runtime-${project.version}.jar`

The [maven.java.net](https://maven.java.net) artifact information is as follows:

*   Maven Group Id: `${project.groupId}`
*   Maven Artifact Id: `oracle-tools-runtime`
*   Maven Version: `${project.version}`

Alternatively you can downlown directly from: <img src="../images/external-link.png" alt="External Link" height="10" width="10" align="top"/> [oracle-tools-runtime-${project.version}.jar](https://maven.java.net/service/local/artifact/maven/redirect?r=${repository}&amp;g=com.oracle.bedrock&amp;a=oracle-tools-runtime&amp;v=${project.version}&amp;e=jar)

<h4>Source Code</h4>

Source code for this and other Oracle Tools modules can be found here:
[https://github.com/coherence-community/oracle-tools](https://github.com/coherence-community/oracle-tools)